<launch>
	<arg name="machine" default="localhost" />
	<arg name="user" default="" />

	<machine name="$(arg machine)" address="$(arg machine)" env-loader="/opt/strands/strands_catkin_ws/devel/env.sh" user="$(arg user)" default="true"/>

	<node pkg="ramp_climb" type="ramp_climb" name="ramp_climbing" output="screen" >
	</node>
</launch> 
